.header-menu {
    padding: 0.5rem 1rem;
    height: $header-height;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4A4A4A;
    .menu-btn {
        display: inline-block;
        padding: 0.2rem;
        color: #ffffff;
    }
    .new-comments-num {
        font-family: $family-sans-serif;
        background: $primary;
        width: 18px;
        height: 18px;
        color: $text;
        border-radius: 50%;
        line-height: 1.2;
        font-size: 0.9rem;
        position: absolute;
        top: 0;
        right: 0;
    }
}