$blue: #72d0eb;
$red: #D32F2F;
// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $red;
$primary-invert: #fff;
$background: #212121;
// $text: #3d3d3d;
$text: #fafafa;
$header-height: 4rem;
// $background: #616161;